VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/2177f593-8dd6-4967-8062-aced1f9675c6.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/f45f15a8-51e3-4a10-8617-05e7f4490f52.vsidx
