VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/2177f593-8dd6-4967-8062-aced1f9675c6.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/f45f15a8-51e3-4a10-8617-05e7f4490f52.vsidx
DailyReport/.vs/DailyReport/FileContentIndex/c592ace9-d942-4348-8d65-883338e4e793.vsidx
DailyReport/.vs/DailyReport/FileContentIndex/e9e7e9c3-725a-4fea-892a-0ba042f6b0ef.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/c02a2e61-8100-42a4-a924-3185488edc6f.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/9f9e6a7e-3d4c-4afb-a449-23c91267dfd5.vsidx
*.BuildWithSkipAnalyzers
/DailyzReport/obj/Debug/net8.0
/DailyzReport/.vs
/DailyzReport/bin/Debug
DailyzReport/DailyzReport.csproj
/DailyzReport
*.json
/SwitchStatement/obj/Debug/net8.0/ref
SwitchStatement/obj/Debug/net8.0/refint/SwitchStatement.dll
SwitchStatement/obj/Debug/net8.0/SwitchStatement.AssemblyInfo.cs
SwitchStatement/obj/Debug/net8.0/SwitchStatement.AssemblyInfoInputs.cache
SwitchStatement/obj/Debug/net8.0/SwitchStatement.assets.cache
SwitchStatement/.vs/SwitchStatement/CopilotIndices/17.14.1577.30250/CodeChunks.db
SwitchStatement/.vs/SwitchStatement/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
SwitchStatement/.vs/SwitchStatement/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
SwitchStatement/.vs/SwitchStatement/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
SwitchStatement/.vs/SwitchStatement/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
SwitchStatement/.vs/SwitchStatement/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
SwitchStatement/.vs/SwitchStatement/DesignTimeBuild/.dtbcache.v2
SwitchStatement/.vs/SwitchStatement/FileContentIndex/fe1dec09-1584-4ad8-a17a-621216aeaab3.vsidx
SwitchStatement/.vs/SwitchStatement/v17/.suo
SwitchStatement/bin/Debug/net8.0/SwitchStatement.dll
SwitchStatement/bin/Debug/net8.0/SwitchStatement.exe
SwitchStatement/bin/Debug/net8.0/SwitchStatement.pdb
SwitchStatement/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SwitchStatement/obj/Debug/net8.0/apphost.exe
SwitchStatement/obj/Debug/net8.0/SwitchStatement.csproj.CoreCompileInputs.cache
SwitchStatement/obj/Debug/net8.0/SwitchStatement.csproj.FileListAbsolute.txt
SwitchStatement/obj/Debug/net8.0/SwitchStatement.dll
SwitchStatement/obj/Debug/net8.0/SwitchStatement.GeneratedMSBuildEditorConfig.editorconfig
SwitchStatement/obj/Debug/net8.0/SwitchStatement.genruntimeconfig.cache
SwitchStatement/obj/Debug/net8.0/SwitchStatement.GlobalUsings.g.cs
SwitchStatement/obj/Debug/net8.0/SwitchStatement.pdb
SwitchStatement/obj/project.nuget.cache
SwitchStatement/obj/SwitchStatement.csproj.nuget.g.props
SwitchStatement/obj/SwitchStatement.csproj.nuget.g.targets
SwitchStatement/SwitchStatement.csproj
SwitchStatement/SwitchStatement.sln
TernaryOperatorchallenge/.vs/ProjectEvaluation/ternaryoperatorchallenge.metadata.v9.bin
TernaryOperatorchallenge/.vs/ProjectEvaluation/ternaryoperatorchallenge.projects.v9.bin
TernaryOperatorchallenge/.vs/ProjectEvaluation/ternaryoperatorchallenge.strings.v9.bin
TernaryOperatorchallenge/.vs/TernaryOperatorchallenge/CopilotIndices/17.14.1577.30250/CodeChunks.db
TernaryOperatorchallenge/.vs/TernaryOperatorchallenge/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
TernaryOperatorchallenge/.vs/TernaryOperatorchallenge/DesignTimeBuild/.dtbcache.v2
TernaryOperatorchallenge/.vs/TernaryOperatorchallenge/FileContentIndex/6860de98-7754-4b89-a8dd-114f6d2a6e73.vsidx
TernaryOperatorchallenge/.vs/TernaryOperatorchallenge/v17/.futdcache.v2
TernaryOperatorchallenge/.vs/TernaryOperatorchallenge/v17/.suo
TernaryOperatorchallenge/bin/Debug/net8.0/TernaryOperatorchallenge.dll
TernaryOperatorchallenge/bin/Debug/net8.0/TernaryOperatorchallenge.exe
TernaryOperatorchallenge/bin/Debug/net8.0/TernaryOperatorchallenge.pdb
TernaryOperatorchallenge/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TernaryOperatorchallenge/obj/Debug/net8.0/apphost.exe
TernaryOperatorchallenge/obj/Debug/net8.0/ref/TernaryOperatorchallenge.dll
TernaryOperatorchallenge/obj/Debug/net8.0/refint/TernaryOperatorchallenge.dll
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.AssemblyInfo.cs
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.AssemblyInfoInputs.cache
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.assets.cache
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.csproj.CoreCompileInputs.cache
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.csproj.FileListAbsolute.txt
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.dll
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.GeneratedMSBuildEditorConfig.editorconfig
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.genruntimeconfig.cache
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.GlobalUsings.g.cs
TernaryOperatorchallenge/obj/Debug/net8.0/TernaryOperatorchallenge.pdb
TernaryOperatorchallenge/obj/project.nuget.cache
TernaryOperatorchallenge/obj/TernaryOperatorchallenge.csproj.nuget.g.props
TernaryOperatorchallenge/obj/TernaryOperatorchallenge.csproj.nuget.g.targets
TernaryOperatorchallenge/TernaryOperatorchallenge.csproj
TernaryOperatorchallenge/TernaryOperatorchallenge.sln
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/6815709b-d849-4451-91de-1cd43d09153b.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/CopilotIndices/17.14.1577.30250/CodeChunks.db
WindowsFormsApp1/.vs/WindowsFormsApp1/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/0580dca8-a5ef-49bd-8c93-9aebcc715199.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/109ae68b-ee78-444c-983a-db6ef83b0699.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/v17/.suo
WindowsFormsApp1/App.config
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe.config
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/Form1.cs
WindowsFormsApp1/Form1.Designer.cs
WindowsFormsApp1/Form1.resx
WindowsFormsApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.AssemblyReference.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe.config
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Form1.resources
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Properties.Resources.resources
WindowsFormsApp1/Program.cs
WindowsFormsApp1/Properties/AssemblyInfo.cs
WindowsFormsApp1/Properties/Resources.Designer.cs
WindowsFormsApp1/Properties/Resources.resx
WindowsFormsApp1/Properties/Settings.Designer.cs
WindowsFormsApp1/Properties/Settings.settings
WindowsFormsApp1/WindowsFormsApp1.csproj
WindowsFormsApp1/WindowsFormsApp1.sln
C\#_Framework_Part2/c\#_sample/.vs/c\#_sample/FileContentIndex/2947a6f9-756d-4f22-9c56-9f8180f5def5.vsidx
C\#_Framework_Part2/c\#_sample/obj/Debug/net8.0/c\#_sample.assets.cache
