VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
VariableandDataTYpe/.vs/VariableandDataTYpe/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/2177f593-8dd6-4967-8062-aced1f9675c6.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/f45f15a8-51e3-4a10-8617-05e7f4490f52.vsidx
DailyReport/.vs/DailyReport/FileContentIndex/c592ace9-d942-4348-8d65-883338e4e793.vsidx
DailyReport/.vs/DailyReport/FileContentIndex/e9e7e9c3-725a-4fea-892a-0ba042f6b0ef.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/c02a2e61-8100-42a4-a924-3185488edc6f.vsidx
VariableandDataTYpe/.vs/VariableandDataTYpe/FileContentIndex/9f9e6a7e-3d4c-4afb-a449-23c91267dfd5.vsidx
*.BuildWithSkipAnalyzers
/DailyzReport/obj/Debug/net8.0
/DailyzReport/.vs
/DailyzReport/bin/Debug
DailyzReport/DailyzReport.csproj
/DailyzReport
